<title>Olá!</title> 
<h2>O que vamos fazer hoje?</h2>

<p class="notice"><%= notice %></p>

<% @todos.each do |todo| %>

    <h3><%= todo.name %></h3>
    
    <ul class="tasks-list">

        <% todo.tasks.each do |task| %>


            <% if task.done == true %>

                <strike>
                    <p class="task-title"> <%= task.title %> </p>
                </strike>

            <% else %>

                <p class="task-title"> <%= task.title %> </p>

            <% end %>
            
            <%= form_with(model: task, remote: true, class: "task-checkbox-form") do |f| %>
            
                <%= f.check_box :done, checked: task.done, onchange: 'this.form.submit();', class: "task-checkbox" %>

            <% end %>


    <% end %>
    
    </ul>

<% end %>

<div class="new-todo">
  <%= link_to "Nova Lista", new_todo_path, class: "btn-new" %>
</div>
