<p class="notice"><%= notice %></p>

<div class="todos-list">
  <h1>Olá! O que vamos fazer hoje?</h1>

    <% if @todos.any? %>
      <%= render "searchbar" %>
    <% end %>
  
  <div id="todos">
    <% @todos.each do |todo| %>
      <div class="todo-item">
        <%= render todo %>
        <p>
          <%= link_to "Visualizar a Lista", todo, class: "btn-show" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="actions-buttons">
    <%= link_to "Nova Lista", new_todo_path, class: "btn-new" %>

    <% if @todos.any? %>
      <%= link_to "Gerar Planilha", planilha_path, class: "btn-planilha" %> 
    <% end %>

    <%= form_with url: upload_image_todos_path, local: true, method: :post, multipart: true do |form| %>
    <%= form.label :image, "Envie sua lista física:" %>
    <%= form.file_field :image %>
    <%= form.submit "Enviar", class: "btn-submit" %>
  <% end %>


  </div>
</div>
